.app {
  background: linear-gradient(250deg, #5a08df, #1a7497);
  padding: 30px;
}
#completeButton {
  background-color: rgb(92, 154, 182);
  font-size: 16px;
  border-radius: 12px;
  transition-duration: 0.1s;
}
#completeButton:hover {
  background-color: white;
}
#deleteButton {
  background-color: rgb(92, 154, 182);
  font-size: 16px;
  border-radius: 12px;
}
#deleteButton:hover {
  background-color: white;
}
h2 {
  align-items: center;
  color:#e8e8e8;
}
.todo-list {
  height: 100vh;
  overflow: hidden;
  border-radius: 4px;
  max-width: 400px;
  padding: 5px;
  margin: auto;
}
.tasks {
  align-items: center;
  background: #fff;
  border-radius: 8px;
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.15);
  display: flex;
  font-size:20px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}